body {
  margin: 0;
  padding: 50px;
  background-color: #027A42;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

.listOne, .listTwo, .listThree {
  position: relative;
  width: 33.333333%; 
  float: left;
}

.listOne, .listTwo, .listThree p {
  color: #FFF;
  text-align: left;
  font-family: Helvetica, sans-serif; 
  font-size: 24px;
}